.main-dialog {
  padding: 0;
}

.mat-typography h3 {
  padding-top: 2rem;
  font-weight: bolder;
}

.container-list {
  padding-left: 3rem;
}

.mat-dialog-container {
  padding: 0;
  width: 40rem;
  height: 20rem;
  overflow-x: hidden;
}

.section-dialog {
  padding-top: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
}
