.main-dialog {
  padding: 0;
}

.mat-typography h3 {
  padding-top: 2rem;
  font-weight: bolder;
}

.container-list {
  padding-left: 3rem;
}

.mat-dialog-container {
  padding: 0;
  width: 50rem;
  height: 30rem;
  overflow-x: hidden;
}

section {
  padding-top: 2rem;
}
