<main>
  <toolbar class="toolbar" [title]="title"></toolbar>
  <div class="main-container">
    <section class="d-flex col-12 justify-content-center">
      <div class="col-7 detail-description">
        <h3 class="pt-4 text-center">Descripción</h3>
        <p class="pt-5 section-text">Los más importantes logros tecnológicos de la civilización humana y, lógicamente, más reciente que el ferrocarril, se encuentran las naves espaciales: increíbles vehículos capaces de abandonar la atmósfera terrestre, que destacan por su potencia y su velocidad. Desde el punto de vista físico, hay dos conceptos que siempre me han fascinado: el tiempo y la energía. Por eso creo que lo más interesante a la hora de hablar sobre naves espaciales consiste en la velocidad que pueden alcanzar y, sobre todo, los sistemas de propulsión.</p>
      </div>
    </section>
    <div class="d-flex row g-3 justify-content-center">
      <section *ngFor="let ship of shipList" class="section-card shadow m-5 card d-flex col-3 flex-column" (click)="openShipDetailDialog()">
        <div class="container card-body d-flex flex-row align-items-end">
          <h5 class="col-8 card-title">{{ ship.name | uppercase }}</h5>
          <div class="d-flex col-4 justify-content-around">
            <button class="btn col-4 btn-edit" title="Edit"><i class="fa fa-edit"></i></button>
            <button class="btn col-4 btn-delete" title="Delete"><i class="fa fa-trash"></i></button>
          </div>
        </div>
        <div class="container cart-text">
          <p>{{ ship.description }}</p>
        </div>
      </section>
    </div>
  </div>
  <div class="fab-container btn-float">
    <button class="btn" title="Create"><i class="fa fa-plus"></i></button>
  </div>
</main>
