.main-container {
  height: 100vh;
  overflow: hidden;
}

.main-container section {
  height: auto;
}

.section-text {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: justify;
}

.ship-list {
  height: 100vh;
  background-color: #1d3557;
}

.ship-list h3 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

a:hover {
  cursor: pointer;
  color: #0080ff;
  transition: 0.2s;
}

.ship-list p {
  color: #D6D5CB;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

.ship-list button {
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  color: white;
  border: 0.1rem solid white;
}

.button-container {
  margin-top: 4rem;
  justify-content: end;
  align-items: flex-end;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}
